services:
    # nginx:
    #   container_name: nginx
    #   image: nginx:latest
    #   network_mode: host
    #   restart: always
      
    redis-stack:
        container_name: qube-redis
        image: promiseqube.azurecr.io/qube-redis:0.0.1
        network_mode: host
        volumes:
            - redis-data:/data # Persistent data storage
        restart: always
    mediamtx:
        container_name: qube-mediamtx
        image: promiseqube.azurecr.io/qube-mediamtx:0.0.1
        network_mode: host
        restart: always
    camera-manager:
        container_name: camera-manager
        image: promiseqube.azurecr.io/camera-manager:0.0.1-a
        network_mode: host
        # depends_on:
        #     - redis-stack
        restart: always
        
volumes:
    redis-data:
